
// Fonts
// Here you can import any font you want and update the _variables.scss file
// to make use of those fonts across the application.
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
//@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");

// Variables
@import "variables";

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Custom Vanguard styles
@import "components/general";
@import "components/card";
@import "components/button";
@import "components/avatar";
@import "components/input";
@import "components/list-group";
@import "components/nav-tabs";
@import "components/navbar";
@import "components/sidebar";
@import "components/switch";
@import "components/sweet-alert";
@import "components/table";
@import "components/util";
@import "components/datepicker";

@include media-breakpoint-down(md) {
  .sidebar:not(.expanded) {
    margin-left: -250px;
  }

  .content-page {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {

  .widget {
    height: 128px;

    .row .text-muted {
      width: 80px;
      text-align: right;
      word-wrap: normal;
    }
  }
}

.submit {
  margin-top: 20px;
}
.title__two {
  margin: 12px 0;
    font-size: 1.1em;
}
.title__one {
  font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}
label {
  font-weight: 400;
}
tr {
  &:hover {
    .row-actions {
      position: static;
      .edit {
        a {
          color: $primary;
        }
      }
      .delete {
        a {
          color: red;
        }
      }
      a {
        color: $primary;
      }
  }
  }
  .row-actions {
    color: #ddd;
    font-size: 13px;
    padding: 2px 0 0;
    position: relative;
    left: -9999em;
}
}
.cat__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 22px;
  word-wrap: break-word;
  li {

}
}
#snow-container {
  height: 350px;
}
#edit-slug-box {
  line-height: 24px;
  min-height: 25px;
  margin-top: 5px;
  padding: 0 10px;
  color: #666;
}